*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .2s;
    border: none;
    color: white;
}

:root{
    --white8: rgba(255, 255, 255, 0.8);
    --white7: rgba(255, 255, 255, 0.7);
    --white5: rgba(255, 255, 255, 0.5);
}

/****************** the same elements ****************/
/* all lists */
ul{
    list-style: none;
}
/* all links */
a{
    text-decoration: none;
}





/********* body ***********/
body{
    min-height: 100vh;
    position: relative;
}


/********************* navBar *********************/
.nav{
    position: absolute;
    background-color: transparent;
    width: 100%;
    top: 30px;
    height: 70px;
    z-index: 999;
}
.nav nav{
    max-width: 1024px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
.nav nav .logo img{
    width: 40px;
    margin-left:30px ;
}
.nav nav .ul-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 70px;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.05);
}
.nav nav ul li a{
    display: block;
    margin-right: 30px;
    padding: 25px 10px ;
    border-bottom: 2px solid transparent;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 14px;
}
.nav nav ul li a:hover{
    border-bottom: 2px solid white;
}
.open-list-nav,.close-list-nav{
    display: none;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
}
.mobile-nav{
    display: none;
    z-index: 999;
}


/*********** main *************/
main{
    background-image: url('assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

/**************************** section home page ********************************/
.home-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 1024px;
    margin: auto;


}
.home-page .container{
    width: 85%;
    height: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
}
.home-page .container .content-hp{
    max-width: 450px;
    animation: hpl 2s both;
}
.home-page .container .content-hp .f-content-hp{
    color: rgb(255, 255, 255,0.8);
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
}
.home-page .container .content-hp h1{
    font-size: 100px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 15px 0 30px 0;
}
.home-page .container .s-content-hp{
    color: rgb(255, 255, 255,0.8);
    letter-spacing: 1.5px;
    font-weight: 100;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
}
.home-page .circle-explore-hp{
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222;
    font-size: 27px;
    font-weight: 100;
    letter-spacing: 2px;
    animation: hpr 2s both;
}


/**************************** destination ***************************/
.destination{
    height: 100vh;
    max-width: 1024px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px 20px 20px 20px;
    font-family: sans-serif;

    opacity: 0;
    display: none;
}
/*  */
.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.top-dp{
    color: rgb(255, 255, 255,0.8);
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    width: 90%;
    margin: auto;
}
.top-dp span{
    color: rgb(255, 255, 255,0.6);
}
/*  */
.cont-dp{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}
.cont-dp img{
    width: 325px;
    animation: hpl 2s both;
}
.infoCTRL-dp{
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: hpr 2s both;
}
.infoCTRL-dp ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.infoCTRL-dp ul li a{
    display: block;
    padding: 10px 5px;
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255,0.8);
    font-family:  'Arial Narrow';
    border-bottom: 2px solid transparent;
}
.infoCTRL-dp h1{
    font-size: 90px;
    font-weight: 100;
    font-family: serif;
}
.infoCTRL-dp .p-dp{
    color: rgb(255, 255, 255,0.7);
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
}
.hr-dp{
    height: 2px;
    background-color: rgb(255, 255, 255,0.1);
}
.extr-INFDP{
    display: flex;
    gap: 50px;
}
.extr-INFDP p{
    color: rgb(255, 255, 255,0.7);
    font-size: 14px;
    letter-spacing: 1px;
}
.extr-INFDP p span{
    display: block;
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 0;
    color: rgb(255, 255, 255,0.8);
}


/* ********************* crew *************************** */
.crew{
    min-height: 100vh;
    opacity: 0;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: auto;
    padding: 100px 20px 0 20px;
    justify-content: flex-end;
    max-width: 850px;

    opacity: 0;
    display: none;
}
.top-cp,.toptop-cp{
    color: var(--white8);
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 80px;
}
.top-cp span,.toptop-cp span{
    color: var(--white5);
    margin-right: 3px;
}
.container-cp{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-ccp{
    max-width: 400px;
    animation: hpl 2s both;
}
.container-cp .job-cp{
    font-size: 25px;
    text-transform: uppercase;
    color: var(--white5);
    letter-spacing: 2px;
}
.name-cp{
    font-size: 39px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(255, 255, 255,0.9);
    margin: 10px 0 30px 0;
}
.container-cp img{
    width:350px;
    animation: hpr 2s both;
}
.script-cp{
    color: rgb(255, 255, 255,0.7);
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 20px;
}
.points-ranio-cr{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    width: fit-content;
    margin-top: 50px;
}
.points-ranio-cr a{
    display: block;
    height: 15px ;
    width: 15px ;
    background-color: #ffffff80;
    border-radius: 50%;
}
.toptop-cp{
    display: none;
}


/************************* technology *********************/
.technology{
    opacity: 0;
    display: none;
    min-height: 100vh;
}







/**************** animation ************************/
@keyframes hpl{
    from{
        transform: translateX(-30px);
        opacity: 0;
    }to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes hpr{
    from{
        transform: translateX(60px);
        opacity: 0;
    }to{
        transform: translateX(0);
        opacity: 1;
    }
}





/************************ @media ***********************/
@media  (min-height:700px){
    .crew{
        justify-content: center;
    }
}
@media screen and (min-width:1101px){
    .crew{
        justify-content: center;
    }
}

@media screen and (max-width:1100px){
    .crew{
        justify-content: flex-end;
    }
}
@media screen and (max-width:992px){
    .nav{
        top: 0;
    }
    .nav nav ul li a span{
        display: none;
    }
    .nav nav ul li a{
        margin-right: 0;
    }
    .nav nav .ul-nav{
        justify-content: space-evenly;
        top: 0;
    }

    /* home page*/
    main{
        background-image: url('assets/home/background-home-tablet.jpg');
    }
}
@media screen and (max-width:950px){
    /* destination page */
    
    .cont-dp{
        flex-direction: column;
        gap: 40px;
    }
    .cont-dp img{
        width: 250px;
    }
    .infoCTRL-dp {
        align-items: center;
    }
    .infoCTRL-dp *{
        align-items: center;
    }
    .infoCTRL-dp ul{
        justify-content: center;
    }
    .infoCTRL-dp ul li a{
        margin-right: 0;
        margin: 0 10px;
    }
    .infoCTRL-dp .p-dp{
        text-align: center;
        font-size: 16px;
        letter-spacing: 2px;
        line-height: 25px;
    }
    .infoCTRL-dp h1{
        font-size: 100px;
    }
    .extr-INFDP{
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .extr-INFDP p span{
        display: inline;
        margin-left: 20px;
    }
    .hr-dp{
        display: block;
        height: 2px;
        width: 100%;
    }

    /* crew */
    .container-cp{
        /* background-color: #222; */
        flex-direction: column;

    }
    .top-cp{
        background-color: aqua;
        width: 100%;
        display: none;
    }
    .toptop-cp{
        display: block;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .left-ccp *{
        text-align: center;
    }
    .container-cp .job-cp{
        font-size: 22px;
    }
    .name-cp{
        font-size: 35px;
    }
    .script-cp{
        font-size: 13px;
    }
    .container-cp{
        gap: 50px;
    }
    .points-ranio-cr{
        margin: auto;
        padding: 30px 0;
    }
    .container-cp img{
        max-width: 300px;
    }
}

@media screen and (max-width:900px){
    /* home page */
    .home-page{
        align-items: flex-end;
    }
    .home-page .container{
        flex-direction: column;
        align-items: center;
        height: 70%;
        gap: 80px;
        padding-bottom: 50px;
    }
    .home-page .container .content-hp .s-content-hp{
        text-align: center;
        color: rgb(255, 255, 255, 0.5);
    }
    .home-page .container .content-hp .f-content-hp{
        text-align: center;
        color: rgb(255, 255, 255, 0.7);
    }
    .home-page .container .content-hp h1{
        text-align: center;
        margin: 10px 0 15px 0;
    }
    .home-page .circle-explore-hp{
        width: 180px;
        height: 180px;
    }
}
@media screen and (max-width:710px){
    .extr-INFDP{
        gap: 10px;
        flex-direction: column;
    }
    
}
@media screen and (max-width:650px){
    .infoCTRL-dp .p-dp{
        font-size: 13px;
    }
}
@media screen and (max-width:600px){
    .infoCTRL-dp h1{
        font-size: 80px;
    }
    .infoCTRL-dp .p-dp{
        font-size: 12px;

    }
    .cont-dp{
        width: 100%;
    }
    main{
        min-height: 100vh;
    }
    .destination{
        height: auto;
    }
    .destination .container{
        height: auto;
    }

}
@media screen and (max-width:580px){
    .nav nav .ul-nav{
        display: none;
    }
    .nav{
        /* backdrop-filter: blur(10px);
        background-color: rgb(255, 255, 255, 0.05); */
        /* height: 380px; */
        height: 100px;
    }
    nav{
        position: absolute;
        width: 100%;
        top: 15px;
    }
    .mobile-nav{
        position: absolute;
        top: 90px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
        width: 100%;
        gap: 25px;
        display: none;
    }
    .mobile-nav li a{
        display: block;
        padding: 10px ;
        border-bottom: 2px solid transparent;
    }
    .mobile-nav li a:hover{
        border-color: white;
    }
    .open-list-nav{
        display: block;
    }
    .close-list-nav{
        display: none;
    }

    /* home page */
    main{
        background-image: url('assets/home/background-home-mobile.jpg');
    }
    .home-page .container .content-hp h1{
        font-size: 90px;
    }
    .home-page .container .s-content-hp{
        font-size: 14px;
    }

    /*  */
    .container-cp{
        flex-direction: column-reverse;
    }

}